.zoomIn {
	animation-name: zoomOutEffect;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

.zoomOut {
	animation-name: zoomOutEffect;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

@keyframes zoomInEffect {
	0% {
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-o-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
		opacity: 0;
	}
	50% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
	100%  {
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-o-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
		opacity: 0;
	}
}

.zoomOut {
	animation-name: zoomOutEffect;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

@keyframes zoomOutEffect {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100%  {
		opacity: 1;
	}
}

.animationSlider {
	animation: fade 10s 3;
}

@keyframes fade {
	0% {
		opacity: 1;
	}
	15% {
		opacity: 1;
	}
	30% {
		opacity: 0;
	}
	70% {
		opacity: 0;
	}
	85% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}