.gradientBorderContainer{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gradientBorder {
  background: linear-gradient(187.82deg, #26268F -2.69%, #0C0C4A 83.05%);
  border-radius: 24px; 
  box-shadow: 0 0 10px 5px rgba(44, 117, 228, 1);
}

.gradientBorderViolet {
  background: linear-gradient(89deg, #26266E 60%, #0e0e37 );
  border-radius: 16px; 
  box-shadow: 0px 0px 4px rgb(110 56 136 / 70%);
}

.gradientBorder::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 24px; 
  padding: 3px; 
  background: linear-gradient(0deg, rgba(0, 255, 199, 0.6) 0%,rgba(0, 255, 199, 0.6) 100%);
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
          background: linear-gradient(180deg, rgba(0, 255, 199, 0.6) 0%, rgba(0, 0, 0, 0) 50.13%, rgba(0, 255, 199, 0.6) 100%),
linear-gradient(187.82deg, #26268F -2.69%, #0C0C4A 83.05%);

}

.gradientBorderViolet::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 24px; 
  padding: 3px; 

  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 


}
.triangle {
  width: 0px;
  height: 0px;
  border-bottom: 207px solid transparent;
  border-top: 192px solid transparent;
  border-right: 445px solid #1e1f62;
  position: absolute;
}

.triangleLeft {
  width: 0px;
    height: 0px;
    border-bottom: 209px solid transparent;
    border-top: 140px solid transparent;
    border-left: 382px solid #1e1f62;
}

.textoverflow {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

@media screen and (max-width: 375px) {
  .text_mobile_Blog_11 {
  font-size: 11px;
  margin-left: 2px;
  }
}

@media only screen and (max-width: 600px) and (min-width: 376px)  {
  .text_mobile_Blog_12 {
    font-size: 12px;
    margin-left: 2px;
    }
}

@media screen and (max-width: 1024px) {
  .blog_flexNone_mobile {
  flex: none;
  }
}

@media only screen and (max-width: 920px) and (min-width: 360px)  {
  .blog_flexNone_mobile_list {
   display: flex;
   flex-direction: column;
   padding-left: 1rem;
   padding-right: 1rem;
   gap: 10px;
    }
}

@media only screen and (max-width: 920px) and (min-width: 360px)  {
  .blog_paddingBottom_mobile_list {
    padding-bottom: 10px;
    }
}

@media screen and (max-width: 1024px) {
  .blogDeail_flex {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 1023px) {
  .blogDeail_DisplayNone {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .blogDeail_DisplayNonePc {
    display: none;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 768px)  {
  .blog_Detail_Title_Tablet{
    font-size: 24px;
    font-weight: 600;
    }
}
@media screen and (max-width: 767px)  {
  .blog_Detail_Title_mobile{
    font-size: 18px;
    font-weight: 600;
    }
}
.textoverflowDetailBlog {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

@media screen and (min-width: 590px)  {
  .blogDeail_DisplayNoneTablet{
    display: none;
    }
}
@media screen and (max-width: 590px)  {
  .blogDeail_DisplayNoneMobileDetailBlog{
    display: none;
    }
}

@media only screen and (max-width: 1023px) and (min-width: 490px)  {
  .Search {
   width: 464px;
    }
}

